Source: backup
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.liderahenk.org.tr

Package: backup
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3), rsync
Description: LiderAhenk ahenk-backup application
 Long Desc
